.header {
    font-family: helvetica;
    color: black;
    font-size: 50px;
    text-align: center;
    width: 100%;
    text-shadow: 6px 6px 6px #c9c6c6;
    display: block;
    font-weight: bolder;
}

.messages {
    list-style: none;
    background-color: black;
    color: white;
    text-align: center;
}