<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Offcanvas navbar large">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Stock Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
                aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2"
             aria-labelledby="offcanvasNavbar2Label">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Offcanvas</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/list_items/">List Items</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/add_items/">Add Items</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav">
                    {% if request.user.is_authenticated %}
                        <li><a href="/accounts/logout">
                            <button class="btn btn-danger">{{ user }} | Logout</button>
                        </a></li>
                    {% else %}
                        <li>
                            <button class="btn btn-secondary"><a href="/accounts/login"
                                                                 style="text-decoration: none; color: #000000">Login</a>
                            </button>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
